# This rule is not used by the project infra-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to memcached.openstack.org resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: infra-operator
    app.kubernetes.io/managed-by: kustomize
  name: memcached-memcached-viewer-role
rules:
- apiGroups:
  - memcached.openstack.org
  resources:
  - memcacheds
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - memcached.openstack.org
  resources:
  - memcacheds/status
  verbs:
  - get
