# This rule is not used by the project infra-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants full permissions ('*') over rabbitmq.openstack.org.
# This role is intended for users authorized to modify roles and bindings within the cluster,
# enabling them to delegate specific permissions to other users or groups as needed.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: infra-operator
    app.kubernetes.io/managed-by: kustomize
  name: rabbitmq-transporturl-admin-role
rules:
- apiGroups:
  - rabbitmq.openstack.org
  resources:
  - transporturls
  verbs:
  - '*'
- apiGroups:
  - rabbitmq.openstack.org
  resources:
  - transporturls/status
  verbs:
  - get
