apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    features.operators.openshift.io/disconnected: "true"
    features.operators.openshift.io/fips-compliant: "true"
    features.operators.openshift.io/proxy-aware: "false"
    features.operators.openshift.io/tls-profiles: "false"
    features.operators.openshift.io/token-auth-aws: "false"
    features.operators.openshift.io/token-auth-azure: "false"
    features.operators.openshift.io/token-auth-gcp: "false"
    operators.operatorframework.io/operator-type: non-standalone
  name: infra-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: DNSData is the Schema for the dnsdata API
      displayName: DNSData
      kind: DNSData
      name: dnsdata.network.openstack.org
      version: v1beta1
    - description: DNSMasq is the Schema for the dnsmasqs API
      displayName: DNSMasq
      kind: DNSMasq
      name: dnsmasqs.network.openstack.org
      version: v1beta1
    - description: IPSet is the Schema for the ipsets API
      displayName: IPSet
      kind: IPSet
      name: ipsets.network.openstack.org
      version: v1beta1
    - description: Memcached is the Schema for the memcacheds API
      displayName: Memcached
      kind: Memcached
      name: memcacheds.memcached.openstack.org
      specDescriptors:
      - description: TLS settings for memcached service
        displayName: TLS
        path: tls
      version: v1beta1
    - description: NetConfig is the Schema for the netconfigs API
      displayName: Net Config
      kind: NetConfig
      name: netconfigs.network.openstack.org
      version: v1beta1
    - description: Redis is the Schema for the redises API
      displayName: Redis
      kind: Redis
      name: redises.redis.openstack.org
      version: v1beta1
    - description: Reservation is the Schema for the reservations API
      displayName: Reservation
      kind: Reservation
      name: reservations.network.openstack.org
      version: v1beta1
    - description: TransportURL is the Schema for the transporturls API
      displayName: Transport URL
      kind: TransportURL
      name: transporturls.rabbitmq.openstack.org
      version: v1beta1
  description: OpenStack Infrastructure
  displayName: OpenStack Infra
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - OpenStack
  - Infrastructure
  links:
  - name: Infra Operator
    url: https://github.com/openstack-k8s-operators/infra-operator
  maturity: beta
  provider:
    name: Red Hat Inc.
    url: https://redhat.com/
  version: 0.0.0
