# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/rabbitmq.openstack.org_transporturls.yaml
- bases/memcached.openstack.org_memcacheds.yaml
- bases/instanceha.openstack.org_instancehas.yaml
- bases/redis.openstack.org_redises.yaml
- bases/network.openstack.org_dnsmasqs.yaml
- bases/network.openstack.org_dnsdata.yaml
- bases/network.openstack.org_netconfigs.yaml
- bases/network.openstack.org_reservations.yaml
- bases/network.openstack.org_ipsets.yaml
- bases/topology.openstack.org_topologies.yaml
- bases/network.openstack.org_bgpconfigurations.yaml
- bases/rabbitmq.openstack.org_rabbitmqs.yaml
- bases/rabbitmq.openstack.org_rabbitmqvhosts.yaml
- bases/rabbitmq.openstack.org_rabbitmqusers.yaml
- bases/rabbitmq.openstack.org_rabbitmqpolicies.yaml
# +kubebuilder:scaffold:crdkustomizeresource

patches:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
# +kubebuilder:scaffold:crdkustomizewebhookpatch

# [WEBHOOK] To enable webhook, uncomment the following section
# the following config is for teaching kustomize how to do kustomization for CRDs.
#configurations:
#- kustomizeconfig.yaml
